#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* overflow: auto; */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#root::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}